* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 75px;
  padding-right: 30px;
  box-shadow: 0 3px 6px #00000029;
  background-color: #FFFFFF;
  position: relative;
}
.header .content__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.header .logo span {
  font-family: "Raleway", sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  color: #08A6E4;
  text-decoration: none;
  margin-left: 25px;
}
.header .navigation {
  position: absolute;
  width: 100vw;
  height: 175px;
  top: -180px;
  left: 0;
  background-color: #FFFFFF;
  border-top: #FFFFFF;
  box-shadow: 0 3px 6px #00000029;
  transition: 0.3s;
  z-index: -1;
}
.header .navigation ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 22px;
  font-weight: 400;
  margin-left: 25px;
  list-style: none;
}
.header a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}
.header ul li:nth-child(1) {
  margin-top: 50px;
}
.header .checkbox {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
}
.header .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  display: none;
}
.header .checkbox span {
  display: block;
  height: 2.5px;
  width: 20px;
  margin: 2px 30px;
  border-radius: 3px;
  background-color: #08A6E4;
  cursor: pointer;
}
.header .checkbox input:checked ~ .navigation {
  transform: translate(0, 245px);
  border-top: transparent;
}
.header .checkbox input:checked ~ span:nth-child(2) {
  transform: rotate(-45deg) translate(0, 4.5px);
}
.header .checkbox input:checked ~ span:nth-child(3) {
  display: none;
}
.header .checkbox input:checked ~ span:nth-child(4) {
  transform: rotate(45deg) translate(0, -4.5px);
}

.section__1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__1 h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  color: #000000;
  margin-top: 110px;
}
.section__1 p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  width: 308px;
  margin-top: 20px;
}
.section__1 .open__your__shop {
  background-color: #08A6E4;
  color: #FFFFFF;
  font-size: 1.6rem;
  padding: 22px 92px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 28px;
  margin-bottom: 50px;
}
.section__1 .image__container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.section__1 img {
  width: 200%;
  height: 200%;
}

.section__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__2 h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  line-height: 35px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  width: 303px;
  margin-top: 50px;
}
.section__2 [class*=circle] {
  position: relative;
  width: 63px;
  height: 63px;
  margin-top: 25px;
  border-radius: 50%;
}
.section__2 .circle__red {
  background-color: #EB476E;
  margin-top: 25px;
}
.section__2 .circle__red::after {
  content: url("../../assets/Person.svg");
  position: absolute;
  width: 44px;
  height: 52px;
  left: 30px;
}
.section__2 .circle__blue {
  background-color: #08A6E4;
}
.section__2 .circle__blue::after {
  content: url("../../assets/Eye.svg");
  position: absolute;
  width: 44px;
  height: 52px;
  top: 13px;
  left: 20px;
}
.section__2 .circle__green {
  background-color: #55DFB4;
}
.section__2 .circle__green::after {
  content: url("../../assets/Catalog.svg");
  position: absolute;
  width: 44px;
  height: 52px;
  top: 7px;
  left: 30px;
}
.section__2 .number {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: #000000;
  margin-top: 15px;
}
.section__2 .description {
  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: #A5A5A5;
  margin-top: 20px;
}
.section__2 .description:last-child {
  margin-bottom: 50px;
}

.section__3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  background-color: #F7F7F7;
}
.section__3 .first, .section__3 .second {
  width: 315px;
  height: 370px;
  margin-bottom: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}
.section__3 .third {
  width: 315px;
  height: 290px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}
.section__3 .fourth {
  width: 315px;
  height: 195px;
  position: relative;
  background-color: #55DFB4;
}
.section__3 h2 {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 35px;
}
.section__3 p {
  position: absolute;
  width: 272px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 19px;
}
.section__3 .first {
  margin-top: 40px;
  position: relative;
}
.section__3 .first img {
  width: 193px;
  height: 110px;
  margin-top: 37px;
  right: 0;
  margin-bottom: 27px;
  z-index: 1;
}
.section__3 .first:before {
  content: "";
  position: absolute;
  display: block;
  width: 90px;
  height: 90px;
  margin: 15px;
  transform: rotate(45deg);
  right: 40px;
  top: 0;
  z-index: 0;
  border-radius: 30px;
  background-color: #EB476E;
}
.section__3 .first h2 {
  width: 272px;
  margin-top: 174px;
  left: 22px;
}
.section__3 .first p {
  position: absolute;
  height: 72px;
  margin-top: 256px;
}
.section__3 .second {
  position: relative;
}
.section__3 .second img {
  width: 175px;
  height: 135px;
  top: 20px;
  left: calc(50px - 175 / 2);
  position: absolute;
}
.section__3 .second:before {
  content: "";
  position: absolute;
  display: block;
  width: 125px;
  height: 125px;
  margin: 15px;
  right: 105px;
  top: 0;
  z-index: 0;
  border-radius: 50%;
  background-color: #08A6E4;
}
.section__3 .second h2 {
  position: absolute;
  width: 206px;
  margin-top: 180px;
  left: 22px;
}
.section__3 .second p {
  position: absolute;
  height: 72px;
  margin-top: 268px;
}
.section__3 .third h2 {
  position: absolute;
  width: 235px;
  margin-top: 30px;
  left: 22px;
}
.section__3 .third p {
  position: absolute;
  height: 72px;
  margin-top: 188px;
}
.section__3 .fourth img {
  position: absolute;
  width: 295px;
  height: 207px;
  top: 30px;
}

.section__4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #FFFFFF;
}
.section__4 .pricing__box__red {
  margin-top: 40px;
  display: flex;
  width: 293px;
  height: 251px;
  border: 1px solid #EB476E;
  border-radius: 18px;
}
.section__4 .pricing__box__red .left__side {
  width: 40%;
  margin-left: 20px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__4 .pricing__box__red .left__side p:nth-child(1) {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #13253B;
}
.section__4 .pricing__box__red .left__side p:nth-child(2) {
  font-family: "Open Sans", sans-serif;
  font-size: 4.6rem;
  font-weight: 300;
  color: #EB476E;
}
.section__4 .pricing__box__red .left__side p:nth-child(3) {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
}
.section__4 .pricing__box__red .right__side {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 10px;
}
.section__4 .pricing__box__red .right__side p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 41px;
  font-weight: 400;
  color: #000000;
}
.section__4 .begin__button__red {
  width: 150px;
  height: 50px;
  margin-top: -25px;
  background-color: #EB476E;
  color: #FFFFFF;
  font-size: 13px;
  padding: 16px 57px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
}
.section__4 .pricing__box__blue {
  margin-top: 40px;
  display: flex;
  width: 339px;
  height: 277px;
  border: 1px solid #08A6E4;
  border-radius: 18px;
}
.section__4 .pricing__box__blue .left__side {
  width: 40%;
  margin-left: 10px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__4 .pricing__box__blue .left__side p:nth-child(1) {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #13253B;
}
.section__4 .pricing__box__blue .left__side p:nth-child(2) {
  font-family: "Open Sans", sans-serif;
  font-size: 4.6rem;
  font-weight: 300;
  color: #08A6E4;
}
.section__4 .pricing__box__blue .left__side p:nth-child(3) {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
}
.section__4 .pricing__box__blue .right__side {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  margin-top: 25px;
}
.section__4 .pricing__box__blue .right__side p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 41px;
  font-weight: 400;
  color: #000000;
}
.section__4 .begin__button__blue {
  width: 150px;
  height: 50px;
  margin-top: -25px;
  background-color: #08A6E4;
  color: #FFFFFF;
  font-size: 13px;
  padding: 16px 57px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
}
.section__4 .pricing__box__green {
  margin-top: 40px;
  display: flex;
  width: 293px;
  height: 251px;
  border: 1px solid #55DFB4;
  border-radius: 18px;
}
.section__4 .pricing__box__green .left__side {
  width: 40%;
  margin-left: 20px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__4 .pricing__box__green .left__side p:nth-child(1) {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #13253B;
}
.section__4 .pricing__box__green .left__side p:nth-child(2) {
  font-family: "Open Sans", sans-serif;
  font-size: 4.6rem;
  font-weight: 300;
  color: #55DFB4;
}
.section__4 .pricing__box__green .left__side p:nth-child(3) {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
}
.section__4 .pricing__box__green .right__side {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 10px;
}
.section__4 .pricing__box__green .right__side p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 41px;
  font-weight: 400;
  color: #000000;
}
.section__4 .begin__button__green {
  width: 150px;
  height: 50px;
  margin-top: -25px;
  background-color: #55DFB4;
  color: #FFFFFF;
  font-size: 13px;
  padding: 16px 57px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
}
.section__4 .pricing__box__red .right__side p:nth-child(1) {
  position: relative;
}
.section__4 .pricing__box__red .right__side p:nth-child(2) {
  position: relative;
}
.section__4 .pricing__box__red .right__side p:nth-child(3) {
  position: relative;
}
.section__4 .pricing__box__red .right__side p:nth-child(4) {
  position: relative;
}
.section__4 .pricing__box__red .right__side p:nth-child(5) {
  position: relative;
}
.section__4 .pricing__box__blue .right__side p:nth-child(1) {
  position: relative;
}
.section__4 .pricing__box__blue .right__side p:nth-child(2) {
  position: relative;
}
.section__4 .pricing__box__blue .right__side p:nth-child(3) {
  position: relative;
}
.section__4 .pricing__box__blue .right__side p:nth-child(4) {
  position: relative;
}
.section__4 .pricing__box__blue .right__side p:nth-child(5) {
  position: relative;
}
.section__4 .pricing__box__green .right__side p:nth-child(1) {
  position: relative;
}
.section__4 .pricing__box__green .right__side p:nth-child(2) {
  position: relative;
}
.section__4 .pricing__box__green .right__side p:nth-child(3) {
  position: relative;
}
.section__4 .pricing__box__green .right__side p:nth-child(4) {
  position: relative;
}
.section__4 .pricing__box__green .right__side p:nth-child(5) {
  position: relative;
}
.section__4 .pricing__box__red .right__side p:nth-child(n+1):nth-child(-n+3):before {
  content: url("/assets/Ckechmark-1.svg");
  position: absolute;
  width: 11px;
  height: 11px;
  left: -20px;
  top: 1px;
}
.section__4 .pricing__box__red .right__side p:nth-child(n+4):nth-child(-n+5):before {
  content: url("/assets/Close.svg");
  position: absolute;
  width: 11px;
  height: 11px;
  left: -20px;
  top: 1px;
}
.section__4 .pricing__box__blue .right__side p:nth-child(n+1):nth-child(-n+4):before {
  content: url("/assets/Ckechmark-1.svg");
  position: absolute;
  width: 11px;
  height: 11px;
  left: -20px;
  top: 1px;
}
.section__4 .pricing__box__blue .right__side p:nth-child(5):before {
  content: url("/assets/Close.svg");
  position: absolute;
  width: 11px;
  height: 11px;
  left: -20px;
  top: 1px;
}
.section__4 .pricing__box__green .right__side p:nth-child(n):before {
  content: url("/assets/Ckechmark-1.svg");
  position: absolute;
  width: 11px;
  height: 11px;
  left: -20px;
  top: 1px;
}

.section__5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}
.section__5 .any__questions {
  width: 375px;
  margin-top: 55px;
  padding: 0 30px;
}
.section__5 .any__questions p:nth-child(1) {
  margin-top: 5px;
  height: 47px;
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  line-height: 47px;
  color: #000000;
}
.section__5 .any__questions p:nth-child(2) {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 22px;
  color: #000000;
  margin-bottom: 15px;
  height: 45px;
}
.section__5 .any__questions p:nth-child(3) {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 22px;
  color: #A5A5A5;
}
.section__5 .any__questions p:nth-child(4) {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 22px;
  color: #A5A5A5;
}
.section__5 .any__questions p:nth-child(3) {
  position: relative;
  margin-bottom: 17px;
  padding-left: 38px;
}
.section__5 .any__questions p:nth-child(3):before {
  content: url("/assets/Mail Icon.svg");
  position: absolute;
  left: 5px;
  width: 27px;
  height: 27px;
}
.section__5 .any__questions p:nth-child(4) {
  position: relative;
  padding-left: 38px;
}
.section__5 .any__questions p:nth-child(4):before {
  content: url("/assets/Phone Icon.svg");
  position: absolute;
  left: 5px;
  width: 27px;
  height: 27px;
}
.section__5 .registration {
  margin-top: 56px;
  width: 312px;
  position: relative;
}
.section__5 .registration label {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  color: #08A6E4;
}
.section__5 .registration [type=text] {
  margin-bottom: 42px;
}
.section__5 .registration input {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #95989A;
  width: 100%;
  height: 43px;
}
.section__5 .registration .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.section__5 .registration .checkbox {
  cursor: pointer;
  display: flex;
  width: 312px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 17px;
  color: #A5A5A5;
}
.section__5 .registration .checkbox span {
  height: 24px;
  flex-shrink: 0;
  flex-basis: 24px;
  border: 1px solid #A5A5A5;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.section__5 .registration .checkbox input:checked + span {
  content: url("/assets/Checkmark.svg");
}
.section__5 .registration [class=checkbox] {
  margin-bottom: 41px;
}
.section__5 .registration a {
  position: absolute;
  right: 0;
  bottom: -30px;
  background-color: #08A6E4;
  color: #FFFFFF;
  font-size: 13px;
  padding: 16px 97px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
}

footer {
  margin-top: 104px;
  width: 100%;
  height: 75px;
  box-shadow: 0 5px 40px #00000029;
  background-color: #F7F7F7;
}
footer .footer__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer__left {
  margin-left: 17px;
}
footer .footer__right {
  margin-right: 30px;
}
footer .footer__right img:nth-child(1) {
  margin-right: 20px;
}
footer p:nth-child(1) {
  font-family: "Raleway", sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  color: #08A6E4;
  text-decoration: none;
  margin-left: 17px;
}
footer p:nth-child(2) {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: #A5A5A5;
  text-decoration: none;
  margin-left: 17px;
}
/*# sourceMappingURL=main.css.map */
