
.header {
  width: 100%;
  height: 75px;
  padding: 0 30px;
  box-shadow: 0 3px 6px #00000029;
  background-color: $background-white-color;
  position: relative;

  & .content__wrapper {
    //LAYOUT
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .logo span {
    //  FONTS
    font-family: "Raleway", sans-serif;
    font-size: 3.2rem;
    font-weight: 300;
    //STYLES
    color: $blue;
    text-decoration: none;
    //  LAYOUT
  }

  & .navigation {
    //LAYOUT
    width: 100vw;
    height: 175px;
    position: absolute;
    z-index: -1;
    top: -180px;
    left: 0;
    transition: 0.3s;
    //STYLES
    background-color: $background-white-color;
    border-top: $background-white-color;
    box-shadow: 0 3px 6px #00000029;
    @media (min-width: 1024px) {
      display: none;
    }
  }

  & .list li {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;

  }
  @media (min-width: 1024px) {
    & .list li a {
      padding: 28px 5px;
    }
    & .list li a:hover {
      color: black;
      border-top: 3px solid transparent;
      border-bottom: 3px solid $blue;
    }
  }

  & .horizontal__list {
    align-self: center;

    & li:nth-child(1) {
      margin-right: 95px;
    }

    & li:nth-child(2) {
      margin-right: 95px;
    }

    & li:nth-child(3) {
      margin-right: 95px;
    }

    & li {
      //LAYOUT
      display: inline-block;
      //STYLES
      list-style: none;
      @media (max-width: 1024px) {
        display: none;
      }
    }

    & li a:hover {
      color: $black;
    }
  }

  & .vertical__list {
    //LAYOUT
    margin-left: 25px;
    //STYLES
    list-style: none;
    @media (min-width: 1024px) {
      display: none;
    }
  }

  & a {
    //STYLES
    text-decoration: none;
    //FONTS
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    color: $light-gray;
    font-weight: 700;
    //LAYOUT
  }

  & ul li:nth-child(1) {
    margin-top: 50px;
    @media (min-width: 1024px) {
      margin: 0;
    }
  }

  & .checkbox {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    @media (min-width: 1024px) {
      display: none;
    }

    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      display: none;
    }

    & span {
      //LAYOUT
      display: block;
      height: 2.5px;
      width: 20px;
      margin: 2px 30px;
      border-radius: 3px;
      cursor: pointer;
      //STYLES
      background-color: $blue;

    }

    & input:checked ~ .navigation {
      transform: translate(0, 245px);
    }

    & input:checked ~ span:nth-child(2) {
      transform: rotate(-45deg) translate(0, 4.5px);
    }

    & input:checked ~ span:nth-child(3) {
      display: none;
    }

    & input:checked ~ span:nth-child(4) {
      transform: rotate(45deg) translate(0, -4.5px);
    }
  }
}