
.header {
  width: 100%;
  height: 75px;
  padding-right: 30px;
  box-shadow: 0 3px 6px #00000029;
  background-color: $background-white-color;
  position: relative;
  //z-index: -2;

  & .content__wrapper {
    //LAYOUT
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }

  & .logo span {
    //  FONTS
    font-family: "Raleway", sans-serif;
    font-size: 3.2rem;
    font-weight: 300;
    //STYLES
    color: $blue;
    text-decoration: none;
    //  LAYOUT
    margin-left: 25px;
  }

  & .navigation {
    position: absolute;
    width: 100vw;
    height: 175px;
    top: -180px;
    left: 0;
    background-color: $background-white-color;
    border-top: $background-white-color;
    box-shadow: 0 3px 6px #00000029;
    transition: 0.3s;
    z-index: -1;

    & ul li {
      font-family: "Open Sans", sans-serif;
      font-size: 1.1rem;
      line-height: 22px;
      font-weight: 400;
      //LAYOUT
      margin-left: 25px;
      //display: inline-block
      //STYLES
      list-style: none;
    }
  }

  & a {
    //STYLES
    text-decoration: none;
    //FONTS
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
    //LAYOUT
  }
  & ul li:nth-child(1) {
    margin-top: 50px;
  }

  & .checkbox {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;

    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      display: none;
    }

    & span {
      display: block;
      height: 2.5px;
      width: 20px;
      margin: 2px 30px;
      border-radius: 3px;

      background-color: $blue;
      cursor: pointer;
    }

    & input:checked ~ .navigation {
      transform: translate(0, 245px);
      //z-index: -1;
      border-top: transparent;
    }

    & input:checked ~ span:nth-child(2) {
      transform: rotate(-45deg) translate(0, 4.5px);
    }

    & input:checked ~ span:nth-child(3) {
      display: none;
    }

    & input:checked ~ span:nth-child(4) {
      transform: rotate(45deg) translate(0, -4.5px);
    }
  }
}

