.section__1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    //FONTS
    font-family: "Raleway", sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    //STYLES
    color: $black;
    //LAYOUT
    width: 162px;
    margin-top: 110px;

    position: absolute;
    z-index: -2;
    left: calc(50% - 80px);
    top: 90px;
  }

  & p {
    //FONTS
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 22px;
    font-weight: 400;
    //STYLES
    color: $black;
    text-align: center;
    //LAYOUT
    width: 308px;
    margin-top: 170px;
  }


  & .open__your__shop {
    @include button($blue, 1.6rem, 92px, 22px);
    margin-top: 28px;
    margin-bottom: 50px;
  }

  & .image__container {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  & img {
    width: 108%;
    height: 108%;
  }

}

