.section__5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  @media (min-width: 1024px) {
    width: 896px;
    flex-direction: row;
    justify-content: space-between;
  }

  & .any__questions {
    width: 375px;
    margin-top: 55px;
    //padding: 0 30px;
    @media (min-width: 1024px) {
      align-self: flex-start;
      margin-right: 114px;
    }

    & p:nth-child(1) {
      //LAYOUT
      margin-top: 5px;
      height: 47px;
      //FONTS
      font-family: "Raleway", sans-serif;
      font-size: 4rem;
      line-height: 47px;
      color: $black;
      @media (min-width: 1024px) {
        font-size: 4.9rem;
        width: 343px;
      }
    }

    & p:nth-child(2) {
      //FONTS
      font-family: "Open Sans", sans-serif;
      font-size: 1.6rem;
      line-height: 22px;
      color: $black;
      //LAYOUT
      margin-top: 22px;
      margin-bottom: 15px;
      height: 45px;
    }

    @for $i from 1 through 2 {
      p:nth-child(#{$i + 2}) {
        font-family: "Open Sans", sans-serif;
        font-size: 1.6rem;
        line-height: 22px;
        color: $light-gray;
      }
    }

    & p:nth-child(3) {
      position: relative;
      margin-bottom: 17px;
      padding-left: 38px;
      @media (min-width: 1024px) {
        float: left;
        margin-left: -10px;
        margin-right: 10px;
      }
    }

    & p:nth-child(3):before {
      content: url("/assets/Mail Icon.svg");
      position: absolute;
      left: 5px;
      width: 27px;
      height: 27px;
    }

    & p:nth-child(4) {
      position: relative;
      padding-left: 38px;
      @media (min-width: 1024px) {
        float: left;
      }
    }

    & p:nth-child(4):before {
      content: url("/assets/Phone Icon.svg");
      position: absolute;
      left: 5px;
      width: 27px;
      height: 27px;
    }
  }

  //FORM

  & .registration {
    margin-top: 56px;
    width: 312px;
    position: relative;
    @media (min-width: 1024px) {
      width: 440px;
    }

    & label {
      font-family: "Open Sans", sans-serif;
      font-size: 1.1rem;
      color: $blue;
    }

    & [type="text"] {
      margin-bottom: 42px;
    }

    & input {
      border-left: none;
      border-top: none;
      border-right: none;
      border-bottom: 1px solid #95989A;
      width: 100%;
      height: 43px;
    }

    & .checkbox input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    & .checkbox {
      //LAYOUT
      cursor: pointer;
      display: flex;
      width: 312px;
      //FONTS
      font-family: "Open Sans", sans-serif;
      font-size: 1.2rem;
      line-height: 17px;
      color: $light-gray;
      @media (min-width: 1024px) {
        width: 440px;
      }
    }

    & .checkbox span {
      height: 24px;
      flex-shrink: 0;
      flex-basis: 24px;
      border: 1px solid $light-gray;
      border-radius: 4px;
      cursor: pointer;
      margin-right: 10px;
      padding: 5px;
    }

    & .checkbox input:checked + span {
      content: url("/assets/Checkmark.svg");
    }

    & [class="checkbox"] {
      margin-bottom: 41px;
    }

    & a {
      position: absolute;
      right: 0;
      bottom: -30px;
      @include button($blue, 13px, 97px, 16px);
      box-shadow: 5px 10px 14px #07ACE629;
    }
  }
}