
.section__3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-gray-color;
  @media (min-width: 1024px) {
    margin: 106px auto;
  }

  & .text {
    margin-left: 36px;
    @media (min-width: 1024px) {
      font-size: 1.6rem;
    }
  }

  & h2 {
    //FONTS
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    line-height: 3.5rem;
    color: $black;
    //LAYOUT
    width: 271px;
    height: 72px;
    @media (min-width: 1024px) {
      font-size: 3.6rem;
    }
  }

  & p {
    //FONTS
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    //LAYOUT
    width: 272px;
    height: 84px;
    margin-top: 10px;
    @media (min-width: 1024px) {
      font-size: 1.6rem;
    }
  }

  & .first, .second, .third, .fourth {
    width: 315px;
    height: 370px;
    margin: 21px 0;
    background-color: $background-white-color;
    position: relative;
  }

  & .first {
    margin-top: 106px;
    @media (min-width: 1024px) {
      width: 1124px;
    }

    & p {
      @media(min-width: 1024px) {
        width: 416px;
      }
    }


    & .text {
      margin-top: 175px;
      @media (min-width: 1024px) {
        margin-top: 91px;
      }
    }

    & span {
      display: none;
      @media (min-width: 1024px) {
        display: block;
        width: 327px;
        height: 4px;
        background-color: $red;
        margin-top: 30px;
      }
    }

    & img {
      position: absolute;
      width: 193px;
      height: 110px;
      margin-top: 37px;
      margin-bottom: 27px;
      margin-left: 55px;
      @media (min-width: 1024px) {
        width: 386px;
        height: 219px;
        right: 117px;
        bottom: 10px;
      }
    }
  }

  & .first:before {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 45%;
    background-color: #FB3B64;
    top: 20px;
    right: 65px;
    transform: rotate(45deg);
    @media (min-width: 1024px) {
      width: 180px;
      height: 180px;
      border-radius: 40px;
      top: 60px;
      right: 120px;
    }
  }

  & .second {
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      width: 1124px;
    }
    & h2 {
      width: 205px;
      @media (min-width: 1024px) {
        margin-bottom: 0;
        width: 246px;
      }
    }

    & p {
      @media (min-width: 1024px) {
        width: 416px;
        margin-top: 30px;
      }
    }

    & .text {
      margin-top: 185px;
      @media (min-width: 1024px) {
        width: 416px;
        height: 230px;
        position: absolute;
        margin-top: 69px;
        right: 20px;
      }
      & span {
        display: none;
        @media (min-width: 1024px) {
          display: block;
          position: absolute;
          width: 327px;
          height: 4px;
          background-color: $blue;
          top: 230px;
        }
      }
    }

    & img {
      position: absolute;
      width: 175px;
      height: 135px;
      margin-top: 37px;
      margin-bottom: 27px;
      margin-left: 90px;
      @media (min-width: 1024px) {
        margin: 0;
        width: 426px;
        height: 328px;
        left: 70px;
        top: 30px;
      }
    }
  }

  & .second:before {
    content: "";
    position: absolute;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: $blue;
    top: 30px;
    right: 90px;
    @media (min-width: 1024px) {
      left: 70px;
      top: 12px;
      width: 320px;
      height: 320px;
    }
  }

  & .third {
    height: 330px;
    margin-bottom: 0;
    @media (min-width: 1024px) {
      margin: 0;
      width: 623px;
      height: 370px;
    }
    & h2 {
      height: 140px;
      width: 215px;
      padding-top: 30px;
      @media (min-width: 1024px) {
        padding-top: 0;
        width: 348px;
        height: 84px;
      }
    }

    & p {
      width: 240px;
      font-size: 1.6rem;
      @media (min-width: 1024px) {
        margin-top: 30px;
        width: 553px;
        height: 72px;
      }
    }

    & span {
      display: none;
      @media (min-width: 1024px) {
        display: block;
        position: absolute;
        width: 327px;
        height: 4px;
        background-color: $green;
        margin-top: 44px;
      }
    }

    & .text {
      margin-top: 25px;
      @media (min-width: 1024px) {
        margin-top: 0;
        position: absolute;
        top: 70px;
        width: 554px;
        height: 230px;
      }
    }
  }

  & .fourth {
    height: 200px;
    background-color: $green;
    margin-top: 0;
    margin-bottom: 42px;
    @media (min-width: 1024px) {
      margin: 0;
      width: 440px;
      height: 370px;
    }
    & img {
      width: 295px;
      height: 207px;
      margin-top: 20px;
      @media (min-width: 1024px) {
        position: absolute;
        left: 62px;
        top: 98px;
        width: 296px;
        height: 207px;
      }
    }
  }
  & .third__fourth {
    @media (min-width: 1024px) {
      width: 1124px;
      margin-top: 37px;
      margin-bottom: 106px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}