.section__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  & h2 {
    //FONTS
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    line-height: 35px;
    font-weight: 400;
    //STYLES
    color: $black;
    text-align: center;
    //LAYOUT
    width: 303px;
    margin-top: 100px;
    @media (min-width: 1024px) {
      width: 715px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  & .all__dots {
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  & .red, .blue, .green {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 1024px) {
      margin-top: 100px;
      margin-bottom: 0;
      margin-left: 70px;
      margin-right: 70px;
    }
  }

  [class*=circle] {
    position: relative;
    width: 63px;
    height: 63px;
    margin-top: 25px;
    border-radius: 50%;
    @media (min-width: 1024px) {
      //display: inline-block;
    }
  }

  & .circle__red {
    //STYLES
    background-color: $red;
    //LAYOUT
    margin-top: 25px;
  }

  & .circle__red::after {
    content: url("../../assets/Person.svg");
    position: absolute;
    width: 44px;
    height: 52px;
    left: 30px;
  }

  & .circle__blue {
    background-color: $blue;
  }

  & .circle__blue::after {
    content: url("../../assets/Eye.svg");
    position: absolute;
    width: 44px;
    height: 52px;
    top: 13px;
    left: 20px;
  }

  & .circle__green {
    background-color: $green;
  }

  & .circle__green::after {
    content: url("../../assets/Catalog.svg");
    position: absolute;
    width: 44px;
    height: 52px;
    top: 7px;
    left: 30px;
  }

  & .number {
    //FONTS
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    //STYLES
    color: $black;
    //LAYOUT
    margin-top: 15px;
  }

  & .description {
    //FONTS
    font-family: "Raleway", sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    //STYLES
    color: $light-gray;
    //LAYOUT
    width: 150px;
    text-align: center;
    margin-top: 20px;
  }

  & .description:last-child {
    margin-bottom: 50px;
  }
}